#Define Firewalls
firewalls:
  - name: Firewall-Set-1
    vmcount: 2
    fwname: TSVMPAN-
    fwvmsize: Standard_D3_v2
    # https://knowledgebase.paloaltonetworks.com/KCSArticleDetail?id=kA10g000000ClD7CAK
    avsetname: "AzureAV"
    fw_version: latest
    #7.1.0 / 8.0.0 / 8.1.0 = latest
    fw_sku: byol
    # byol / bundl1 / bundle2 
    Username: fwadmin
    Password: Paloalto123

#Define Load Balancers  
load_balancers:
  - name: External-LB
    fename: Untrust
    bename: Untrust
    type: public
    lbrulename: TCP-22
    lbrulefrontport: 22
    lbruleprotocol: tcp
    lbrulebackport: 22
    lbprobename: TCP-22
    lbruleprobeport: 22

  - name: Internal-LB
    fename: Trust
    bename: Trust
    type: private
    lbrulename: HA
    lbrulefrontport: 0
    lbruleprotocol: All
    lbrulebackport: 0
    lbprobename: ssh
    lbruleprobeport: 22

# Define Virtual Networks
# IMPORTANT the first Network has to be the Firewall Network
# 1 Subnet = Management; 2 Subnet = Trust; 3 Subnet = Untrust  
vnet_network:
  name: SternTransitVNet
  network: "10.217.130.0/24"
  peers:
    - WebAzureFCA
  subnet:
  - name: Management
    network: "10.217.130.64/27"
  - name: Trust
    network: "10.217.130.32/27"
  - name: Untrust
    network: "10.217.130.0/27"

#Define Security Groups
security_groups:
  - name: Outbound allow
    priority: 100
    direction: inbound
    action: allow
    src_ip: 0.0.0.0
    src_port: any
    dst_port: any
    dst_network: 0.0.0.0
    protocol: any


