---
availability_zones:
  - a
  - b
firewalls:
  - name: public_firewall
    networks:
      - Management
      - Trust
      - Untrust
      - EgressLB
    lb_join:
      - lb: public
        network: EgressLB
load_balancers:
  - name: public
    type: public
    networks:
      - Management
      - Untrust
      - extranet
      - dmz

  - name: private
    type: private 
    networks:
      - Trust

vnet_network:
  name: main_transit 
  network: "10.227.127.0/24"
  peers:
    - Spoke1
  subnet:
  - name: Management
    type: trusted
    network: "10.227.127.64/27"
    rte: Default_RT
  - name: Trust
    type: trusted
    network: "10.227.127.32/27"
    rte: internal_network
  - name: Untrust
    type: untrusted
    network: "10.227.127.0/27"
    rte: default_internet
  - name: EgressLB
    type: untrusted
    network: "10.227.127.96/27"
    rte: default_internet

    #route_tables:
    #  - name: default_internet
    #    routes:
    #      - cidr: 0.0.0.0/0
    #        name: to_igw
    #        gateway: "10.227.128.29"
    #  - name: azure_default_internet
    #    routes:
    #      - cidr: 0.0.0.0/0
    #        name: to_default_rt
    #        gateway: "10.227.128.29"
    #  - name: internal_rt
    #    routes:
    #      - cidr: 10.227.128.0/24
    #        name: internal_network
    #        gateway: 10.227.128.63
security_groups:
  - name: Outbound allow
    priority: 100
    direction: inbound
    action: allow
    src_ip: 0.0.0.0
    src_port: any
    dst_port: any
    dst_network: 0.0.0.0.
    protocol: any

tags:
  - name: "environment"
    value: "dev"
  - name: "costcenter"
    value: "it"


