---
#How many AZ zones do you want? This will be amount of Firewalls deployed.
availability_zones:
  - a
  - b
#Firewall choices. Choose version license type and bootstrapping options
firewalls:
  mgmt_sleep: "600"
  fw_version: "8.1.0"
  #Options: 6.1.18, 7.0.17, 7.1.11, 7.1.14, 7.1.17, 7.1.18, 7.1.20, 8.0.3, 8.0.6, 8.0.8, 8.0.9, 8.0.13, 8.1.0
  fw_license_type: byol
  #Options: byol | payg1 | payg2
  firewall:
  - name: VPCTransit
    networks:
      - Management
      - Trust
      - Untrust

#Define Bootstrapping Parameters s3 bucket name and  full path local folder path for your files to be uploaded.
#bootstrap:
#  - name: "bootstrap1"
#  - bucket_name: "boothill1234"
#  - s3_folders:
#      - config
#      - content
#      - license
#      - software
#      - lambda
#  #Below defaults are in Pan Fca bootstrap folder located in root otherwise full path will be needed
#  - initcfg: "/Users/shale/Documents/init-cfg.txt"
#  - bootstrap: "/Users/shale/Documents/bootstrap.xml"
#  - content:
#  - license:

# Loadbalancer options
#load_balancers:
#  - name: public
#    type: public
#    networks:
#      - Management
#      - Untrust
#      - extranet
#      - dmz
#
#  - name: private
#    type: private
#    networks:
#      - Trust

vnet_network:
  name: main_transit 
  network: "10.227.127.0/24"
  bgp_asn: "65110"
  peers:
    - Spoke1
  subnet:
  - name: Management
    type: trusted
    network: "10.227.127.64/27"
    rte: Default_RT
  - name: Trust
    type: trusted
    network: "10.227.127.32/27"
    rte: internal_network
  - name: Untrust
    type: untrusted
    network: "10.227.127.0/27"
    rte: default_internet
  - name: EgressLB
    type: untrusted
    network: "10.227.127.96/27"
    rte: default_internet

##route_tables:
#  - name: default_internet
#    routes:
#      - cidr: 0.0.0.0/0
#        name: to_igw
#        gateway: "10.127.128.29"
#  - name: aws_default_internet
#    routes:
#      - cidr: 0.0.0.0/0
#        name: to_default_rt
#        gateway: "10.127.128.29"
#  - name: internal_rt
#    routes:
#      - cidr: 10.227.128.0/24
#        name: internal_network
#        gateway: "10.98.128.63"

# AWS Security groups for permitted inbound traffic to firewall interfaces (Management, Untrust, Trust)
security_groups:
  - management:
    type: management
    rules:
      - name: management rule1
        source_cidr: 0.0.0.0/0
#      - name: management rule2
#        source_cidr: 108.221.182.193/32
  - untrust:
    type: untrust
    rules:
      - name: Untrust rule1
        source_cidr: 100.0.100.0/24
      - rule2:
        name: Untrust rule2
        source_cidr: 100.0.200.0/24
  - trust:
    type: trust
    rules:
      - name: Trust rule1
        source_cidr: 10.0.100.0/24
      - name: Trust rule2
        source_cidr: 10.0.200.0/24

# List name, cidr, region, azs, and subnets for each spoke connected to Transit VPC Firewalls
# Optionally supply cidr blocks and psk for each VPN from spoke to Firewall.
spoke_vpcs:
  - spoke_1:
    name: spoke1
    cidr: 10.122.0.0/23
    region: us-east-1
    asn: 65122
    azs:
      - us-east-1a
      - us-east-1b
    subnets:
      - name: private_subnet_az1a
        cidr: 10.122.0.0/24
      - name: private_subnet_az1b
        cidr: 10.122.1.0/24
    fw_tunnels:
      - name: fw1
        tunnel_1_cidr: 169.254.122.12/30
        tunnel_1_psk: blahblah
        tunnel_2_cidr: 169.254.122.16/30
        tunnel_2_psk: blahblah
      - name: fw2
        tunnel_1_cidr: 169.254.122.20/30
        tunnel_1_psk: blahblah
        tunnel_2_cidr: 169.254.122.24/30
        tunnel_2_psk: blahblah
  - spoke_2:
    name: spoke2
    cidr: 10.222.0.0/23
    region: us-east-2
    asn: 65222
    azs:
      - us-east-2a
      - us-east-2b
    subnets:
      - name: private_subnet_az1a
        cidr: 10.222.0.0/24
      - name: private_subnet_az1b
        cidr: 10.222.1.0/24
    fw_tunnels:
      - name: fw1
        tunnel_1_cidr: 169.254.222.12/30
        tunnel_1_psk: blahblah
        tunnel_2_cidr: 169.254.222.16/30
        tunnel_2_psk: blahblah
      - name: fw2
        tunnel_1_cidr: 169.254.222.20/30
        tunnel_1_psk: blahblah
        tunnel_2_cidr: 169.254.222.24/30
        tunnel_2_psk: blahblah


tags:
  - name: "environment"
    value: "dev"
  - name: "costcenter"
    value: "it"
  - name: Untrust rule2
    source_cidr: 100.0.200.0/24
  - trust:
    type: trust
    rules:
      - name: Trust rule1
        source_cidr: 10.0.100.0/24     
      - name: Trust rule2
        source_cidr: 10.0.200.0/24