group_vars/all/all.yml
!group_vars/constants.yml
!group_vars/all.yml.example
!group_vars/all.yml.azure.example
host_vars/*
!host_vars/fw.yml.example
virtual_networks/*
!virtual_networks/*.example

TO-DO

*.pyc
.DS_Store
**/.DS_Store
inventory

**/.terraform/*

# Adding this later, after testing
*.tfstate
*.tfstate.*

*.pem
**/*.pem
crash.log
.idea
**/.tfplan
**/.tfvars
/main.tf

account.json

# Ansible Specific Files
*.retry
**/*.retry

provider.*
!provider.yml.example
secrets.yml
credentials.yml
state_backup_*
.terraform.d/
.terraform.d/*

# Sandbox folder
sandbox_modules
