# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/fca-ui/node_modules

# production
/fca-ui/build

# misc
.DS_Store

/fca-ui/npm-debug.log*

# terraform
.terraform/
!*.gitkeep/