## AZURE EXAMPLE
#cloud_provider: azure
#cloud_provider_location: "east us"
#azure_subscription_id: "thisisthebestsubever"

## AWS EXAMPLE
#cloud_provider: aws
#cloud_provider_location: "us-east-1"
#aws_access_key: "ThiSisSecretK3y"
#aws_secret_access_key: "ThisismoreS3cretkeyacc3ss"
#fw_key_name: "name_your_key"
#cloud_provider_tf_version: "1.60.0"

#Operating System used to select go binary type
go_os: "ubuntu"


## GCP EXAMPLE
#cloud_provider: gcp
#cloud_provider_location: "eastus"
#gcp_account_file: account.json


## vSPHERE EXAMPLE
#cloud_provider: vsphere
#vsphere_username: administrator@vsphere.local
#vsphere_password: VMware01!
#vsphere_server: vsca.domain.com