## AZURE EXAMPLE
#cloud_provider: azure
#cloud_provider_location: "east us"
#azure_subscription_id: "thisisthebestsubever"

## AWS EXAMPLE
#cloud_provider: aws
#cloud_provider_location: "us-east-1"
#cloud_provider_tf_version: "1.60.0"
#aws_access_key: "ThiSisSecretK3y"
#aws_secret_access_key: "ThisismoreS3cretkeyacc3ss"
#fw_key_name: "name_your_key"