{% for name, vnet in vnets.items() %}
{% if vnet['vnet_network'] is defined %}
{% for vpc in vnet['vnet_network'] %}
{% if vpc['subnets'] is defined %}

module "{{ name }}-{{ vpc.name }}-subnets" {
    source                              = "{{ module_dir }}/subnet"
    providers                           = { aws = "aws.{{ vpc['region'] }}"}     
    subnets                             = [{% for subnet in vpc['subnets'] %},"{{ subnet['cidr'] }}",{% endfor %}]
    subnet_names                        = [{% for subnet in vpc['subnets'] %},"{{vpc.name}}-{{ subnet['name'] }}",{% endfor %}]
    vpc_id                              = "${module.{{ name }}-{{vpc.name}}-vpc.vpc_id}"
}

{% endif %}
{% endfor %}
{% endif %}
{% endfor %}