{% for name, vnet in vnets.items() %}
module "{{ name }}" {
  source = "terraform-aws-modules/vpc/aws"
  name   = "{{ name }}"
  cidr   = "{{ vnet['vnet_network']['network'] }}"
  azs    = ""
  private_subnets = [{% for sub in vnet['vnet_network']['subnet'] if sub.type == 'untrusted' %}"{{ sub.network }}",{% endfor %}]
  public_subnets  = [{% for sub in vnet['vnet_network']['subnet'] if sub.type == 'trusted' %}"{{ sub.network }}",{% endfor %}]
}
{% endfor %}