---

ansible_python_interpreter: "python"
location: "{{ cloud_provider_location }}"
credentials:
  azure:
    username: 'tstern'
    password: 'PaloAlto12345!'

username: "{{ credentials[cloud_provider]['username'] }}"
password: "{{ credentials[cloud_provider]['password'] }}"

virtual_networks:
  - TranistHub
  - TransitSpoke

#Create Virtual Routers
#By default will be the "default" deleted 
cm_virtual_router:
  - 'trust'
  - 'untrust'

#Create Management Profile
cm_mgmt_profile:
  - name: 'AzureProbe'
    permitted_network: 
        - "168.63.129.16/32"
    https: true
    ssh: true

#Configure Interfaces
cm_interface:
  - name: 'ethernet1/1'
    virtual_router: 'untrust'
    zone: "untrust"
    dhcp: true
    mgmt_profile: AzureProbe
    state: 'present'
  - name: 'ethernet1/2'
    virtual_router: 'trust'
    zone: "trust"
    dhcp: true
    mgmt_profile: 'AzureProbe'
    state: 'present'
  # - name: 'tunnel.500'
  #   ip: '10.1.5.1'
  #   mask: 24
  #   mgmt_profile: 'AzureProbe'
  #   virtual_router: 'trust'
  #   zone: "test3"

#Create Address Objects
cm_object_address:
  - name: 'site-a-internal'
    ip-range: '10.1.1.0-10.1.2.255'
  - name: 'site-b-internal'
    ip-range: '10.2.1.0-10.2.2.255'
  - name: 'google-dns-1'
    ip: '8.8.8.8/32'
  - name: 'google-dns-2'
    ip: '8.8.4.4/32'
  - name: 'ip-chicken'
    fqdn: 'www.ipchicken.com'
  - name: 'Azure-Health-Probe'
    ip: '168.63.129.16/32'

#Create Service Objects   
cm_object_service:
  - name: 'http-alt'
    port: '8000'
    protocol: 'tcp'
  - name: 'dns'
    port: '53'
    protocol: 'udp'

#Create Service Groups
cm_object_service_group:
  - name: 'http-all'
    services:
     - 'http-alt'
     - 'service-http'

#Create Address Groups
cm_object_address_group:
  - name: 'public-servers'
    addresses:
     - 'google-dns-1'
     - 'ip-chicken'

#Create Application Groups
cm_object_app_group:
  - name: 'ping-all'
    apps:
     - 'icmp'
     - 'ping'

#Configure NTP
cm_ntp:
  ntp_primary: '129.6.15.32'
  ntp_secondary: '128.138.141.177'

#Configure DNS
cm_dns:
  dns_primary: '8.8.8.8'
  dns_secondary: '1.1.1.1'

#Configure Panorama
cm_panorama1:
  primary: '8.8.8.8'
  secondary: '1.1.1.1'

#Create Firewall accounts
cm_fw_user:
  - username: 'ken_test'
    password: 'TheBestPassword'
    role: "devicereader"
  - username: 'ntc'
    password: 'The2ndBestPassword'
    role: "deviceadmin"
  - username: 'pa1'
    password: 'The3rdBestPassword'
    role: "superreader"


# Create Security Rules
cm_security_rule:
  - name: 'Azure Health Probe Traffic'
    action: 'allow'
    disabled: 'no'
    to_zone:
      - 'untrust'
      - 'trust'
    from_zone:
      - 'untrust'
      - 'trust'
    source:
      - 'Azure-Health-Probe'
    application:
      - 'any'
    category:
     - 'any'
    source_user:
     - 'any'
    hip_profiles:
     - 'any'
  - name: 'Allow Any'
    action: 'allow'
    disabled: 'no'
    to_zone:
      - 'any'
    from_zone:
      - 'any'
    application:
      - 'any'
    category:
     - 'any'
    source_user:
     - 'any'
    hip_profiles:
     - 'any'


# Create NAT Rules
cm_nat_rule:
  - name: 'No-NAT-Azure-Probe-Trust'
    source:
      zone: "trust"
      network: 'Azure-Health-Probe'
    service: 'any'
    destination:
      zone: "trust"
      network: 'any'
    service: 'any'
  - name: 'No-NAT-Azure-Probe-Untrust'
    source:
      zone: "untrust"
      network: 'Azure-Health-Probe'
    service: 'any'
    destination:
      zone: "untrust"
      network: 'any'
    service: 'any'
  - name: 'NAT default Outbound'
    state: 'present'
    source:
      zone: 'trust'
      network:
      - 'any'
    destination:
      zone: 'untrust'
      network:
      - 'any'
    service: 'any'
    snat_type: 'dynamic-ip-and-port'
    snat_address_type: 'interface-address'
    snat_translation:
      interface: 'ethernet1/1'
      ip: ''
  - name: 'NAT-Traffic to WebServer'
    state: 'present'
    source:
      zone: 'untrust'
      network:
      - 'any'
    destination:
      zone: 'untrust'
      network:
      - '52.155.222.208/32'
    service: 'any'
    snat_type: 'dynamic-ip-and-port'
    snat_address_type: 'interface-address'
    snat_translation:
      interface: 'ethernet1/2'
      ip: ''
    dnat_type: 'static'
    dnat_translation:
      ip: '172.16.130.4/32'
      port: '80'
  - name: 'NAT default Inbound'
    state: 'present'
    source:
      zone: 'untrust'
      network:
      - 'any'
    destination:
      zone: 'untrust'
      network:
      - 'any'
    service: 'any'
    snat_type: 'dynamic-ip-and-port'
    snat_address_type: 'interface-address'
    snat_translation:
      interface: 'ethernet1/2'
      ip: '' 

#Create Static Routes
cm_panos_static_route:
  - name: 'DefaultGW_trust'
    destination: '0.0.0.0/0'
    nexthop: 'untrust'
    virtual_router: 'trust'
    nexthop_type: 'next-vr'
  - name: 'DefaultGW_Untrust'
    destination: '0.0.0.0/0'
    nexthop: '10.217.130.1/32'
    interface: 'ethernet1/1'
    nexthop_type: 'ip-address'
    virtual_router: 'untrust'
  - name: 'AzureProbe-Trust'
    destination: '168.63.129.16/32'
    nexthop: '10.217.130.33/32'
    interface: 'ethernet1/2'
    nexthop_type: 'ip-address'
    virtual_router: 'trust'
  - name: 'AzureProbe-Untrust'
    destination: '168.63.129.16/32'
    nexthop: '10.217.130.1/32'
    interface: 'ethernet1/1'
    nexthop_type: 'ip-address'
    virtual_router: 'untrust'
  - name: 'Web-Net Traffic Trust'
    destination: '172.16.130.0/24'
    nexthop: '10.217.130.33/32'
    interface: 'ethernet1/2'
    nexthop_type: 'ip-address'
    virtual_router: 'trust'
  - name: 'Web-Net Traffic Untrust'
    destination: '172.16.130.0/24'
    nexthop: 'trust'
    virtual_router: 'untrust'
    nexthop_type: 'next-vr'

# Activate Firewall
cm_panos_lic:
  values:
    auth_code: 'I6474155'

# # Update Firewall
# cm_panos_software:
#   values:
#     version: '8.1.6'
#     restart: true
