type=dhcp-client
ip-address=
default-gateway=
netmask=
ipv6-address=
ipv6-default-gateway=
hostname=
vm-auth-key=SOMEKEY
panorama-server=IPADDRESS
panorama-server-2=IPADDRESS
tplname=TEMP_STACK
dgname=DG_NAME
dns-primary=IPADDRESS
dns-secondary=IPADDRESS
op-command-modes=
dhcp-send-hostname=yes
dhcp-send-client-id=yes
dhcp-accept-server-hostname=yes
dhcp-accept-server-domain=yes
