{# AWS Security Group module template from https://github.com/terraform-aws-modules/terraform-aws-security-group #}
{% for name, vnet in vnets.items() %}
{% if vnet['security_groups'] is defined %}

{% for sg in vnet['security_groups'] %} #}

module "{{ name }}-sg-{{ sg.type }}" {
    source                  = "terraform-aws-modules/security-group/aws"
    name                    = "{{ name }}_sg_{{ sg.type}}"
    vpc_id                  = "${module.{{ name }}.vpc_id}"
    ingress_cidr_blocks     = [{% for rule in sg['rules'] %},"{{ rule['source_cidr'] }}",{% endfor %}] 
    ingress_rules           = ["https-443-tcp", "ssh-tcp"]
}
{% endfor %}

{% endif %}
{% endfor %}