{% for name, vnet in vnets.items() %}
{% if vnet['firewalls'] is defined %}
{% for fw in vnet['firewalls']['fw_instances'] %}
{% set outer_loop = loop %}

module "{{ name }}-firewall" {
    source                  = "{{ module_dir }}/firewall"
    providers               = { aws = "aws.{{ vnet['vnet_network']['region'] }}"}     
    fw_version              = "{{ vnet['firewalls']['fw_version'] }}"
    fw_license_type         = "{{ vnet['firewalls']['fw_license_type'] }}"
    untrust_subnets         = "${module.{{ name }}.untrust_subnets}"
    trust_subnets           = "${module.{{ name }}.trust_subnets}"
    fw_key_name             = "${var.fw_key_name}"
    fw_key                  = "${var.fw_key}"
    eni_attachment_ids      = [{% for network in fw['networks'] %},"${module.{{ name }}.{{ fw.name }}.{{network.subnet}}.eni_id",{% endfor %}]

} 

output "firewalls_created" {
  value = "${module.{{ name }}-firewall.firewalls_created}"
}
{% endfor %}
{% endif %}
{% endfor %}
