{% for name, vnet in vnets.items() %}
{% if vnet['vnet_network'] is defined %}
{% for vpc in vnet['vnet_network'] %}
{% if vpc['route_tables'] is defined %}
{% for route_table in vpc['route_tables'] %}

module "{{ name }}-{{ vpc.name }}-{{route_table.name}}-rt" {
    source                              = "{{ module_dir }}/route_table"
    providers                           = { aws = "aws.{{ vpc['region'] }}"}
    vpc_id                              = "${module.{{ name }}-{{vpc.name}}-vpc.vpc_id}"
    name                                = "{{ name }}-{{ vpc.name }}-{{route_table.name}}-rt"
    {% for route in route_table['routes'] %}
    prefix                              = "{{route.prefix}}"
    {% if route['next_hop_type'] == 'VGW' %}
    vgw_next_hop                        = "${module.{{ name }}-{{vpc.name}}-vgw.vgw_id}"
    create_route_to_vgw                 = "true"
    {% endif %}
    {% if route['next_hop_type'] == 'IGW' %}
    igw_next_hop                        = "${module.{{ name }}-{{vpc.name}}-igw.igw_id}"
    create_route_to_igw                 = "true" 
    {% endif %}
    {% if route['next_hop_type'] == 'TGW' %}
    tgw_next_hop                        = "${module.{{ name }}-{{vpc.name}}-tgw.igw_id}"
    create_route_to_tgw                 = "true" 
    {% endif %}  
    {% endfor %} 
}

{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
