{% for name, vnet in vnets.items() %}
{% if vnet['vnet_network'] is defined %}
{% for vpc in vnet['vnet_network'] %}
{% if vpc['asn'] is defined %}

module "{{ name }}-{{ vpc.name }}-rt" {
    source                              = "{{ module_dir }}/route_table"
    providers                           = { aws = "aws.{{ vpc['region'] }}"}
    vpc_id                              = "${module.{{ name }}-{{vpc.name}}-vpc.vpc_id}"
    name                                = "{{ name }}-{{ vpc.name }}-rt"
    default_vgw                         = "${module.{{ name }}-{{vpc.name}}-vgw.vgw_id}" 
}

{% endif %}
{% endfor %}
{% endif %}
{% endfor %}