{% for name, vnet in vnets.items() %}
{% if vnet['vpcs'] is defined %}

{% for vpc in vnet['vpcs'] %}

module "{{ name }}-vpc-{{ vpc.name }}" {
    create_vpc                          = true
    source                              = "{{ module_dir }}/vpc"
    providers                           = {
                                            aws = "aws.{{ vpc['region'] }}"
    }
    name                                = "{{ name }}-vpc-{{ vpc.name }}"
    cidr                                = "{{ vpc['cidr'] }}"
    assign_generated_ipv6_cidr_block    = false
}

{% endfor %}

{% endif %}
{% endfor %}