provider "aws" {
  region = "{{ location }}"
  version = "{{ cloud_provider_tf_version}}"  
}

{# Define provider aliases to support multiple regions #}
{% for name, vnet in vnets.items() %}
{% if vnet['vnet_network']['region'] is defined %}
{% if loop.changed(vnet['vnet_network']['region']) %}
provider "aws" {
  alias  = "{{ vnet['vnet_network']['region'] }}"
  region = "{{ vnet['vnet_network']['region'] }}"
}
{% endif %}
{% endif %}
{% endfor %}

{% include 'aws-vpc.tf.j2' %}
{% include 'aws-subnet.tf.j2' %}
{% include 'aws-routetable.tf.j2' %}
{% include 'aws-transitvpc-spoke-vgw.tf.j2' %}
{% include 'aws-igw.tf.j2' %}
{% include 'aws-fw-interfaces.tf.j2' %}
{% include 'aws-firewall.tf.j2' %}
{% include 'aws-elastic_ip.tf.j2' %}
{% include 'aws-sg.tf.j2' %}
{% include 'aws-transitvpc-spoke-vpn.tf.j2' %}
