{# Firewall module template #}
{% for name, vnet in vnets.items() %}
{% if vnet['firewalls'] is defined %}
module "{{ name }}-firewall" {
source = "{{ module_dir }}/firewall"
fw_instance_count = "${length(module.{{ name }}.vpc_availability_zones)}"
availability_zones = ["${module.{{ name }}.vpc_availability_zones }"]
untrust_subnets = ["${module.{{ name }}.untrust_subnets}"]
untrust_security_group = "${module.{{ name }}.untrust_security_group}"
trust_subnets = ["${module.{{ name }}.trust_subnets}"]
trust_security_group  = "${module.{{ name }}.trust_security_group}"
mgmt_security_group  = "${module.{{ name }}.mgmt_security_group}"
untrust_elastic_ips = ["${module.{{ name }}.untrust_elastic_ips}"]
management_elastic_ips = ["${module.{{ name }}.management_elastic_ips}"]
management_elastic_ip_addresses = ["${module.{{ name }}.management_elastic_ip_addresses}"]
fw_key_name = "${var.fw_key_name}"
fw_key = "${var.fw_key}"
region = "{{ location }}"
stack_name= "{{ name }}"
} 

output "firewalls_created" {
  value = "${module.{{ name }}-firewall.firewalls_created}"
} 
{% endif %}
{% endfor %}
