{# AWS Security Group module template from https://github.com/terraform-aws-modules/terraform-aws-security-group #}
{% for name, vnet in vnets.items() %}
{% if vnet['security_groups'] is defined %}

{% for sg in vnet['security_groups'] %}

module "{{ name }}-{{ sg.name }}-sg" {
    source                  = "{{ module_dir }}/security_groups"
    providers               = { aws = "aws.{{ vnet['vnet_network']['region'] }}"}
    name                    = "{{ name }}-{{ sg.name }}-sg"
    vpc_id                  = "${module.{{ name }}-vpc.vpc_id}"    
    cidr_blocks             = [{% for rule in sg['rules'] %},"{{ rule['src_ip'] }}",{% endfor %}] 
    from_port               = [{% for rule in sg['rules'] %},"{{ rule['src_port'] }}",{% endfor %}] 
    to_port                 = [{% for rule in sg['rules'] %},"{{ rule['dst_port'] }}",{% endfor %}] 
    protocol                = [{% for rule in sg['rules'] %},"{{ rule['protocol'] }}",{% endfor %}] 
    rule_name               = [{% for rule in sg['rules'] %},"{{ rule['name'] }}",{% endfor %}] 
    type                    = [{% for rule in sg['rules'] %},"{{ rule['direction'] }}",{% endfor %}]
    {% if vnet['global_tags'] is defined %}
    tags = { {% for tag in vnet['global_tags'] %}{{ tag.name }} = "{{ tag.value }}"{% endfor %} }
    {% endif %}
}

{% endfor %}

{% endif %}
{% endfor %}