{% for name, vnet in vnets.items() %}
{% if vnet['vnet_network']['asn'] is defined %}

module "{{ name }}-vgw" {
  source                        = "{{ module_dir }}/vgw"
  providers                     = { aws = "aws.{{ vnet['vnet_network']['region'] }}"}
  name                          = "{{ name }}-vgw"
  vpc_id                        = "${module.{{ name }}-vpc.vpc_id}"
  amazon_side_asn               = "{{ vnet['vnet_network']['asn'] }}"
  {% if vnet['global_tags'] is defined %}
  tags                          = { {% for tag in vnet['global_tags'] %}{{ tag.name }} = "{{ tag.value }}"{% endfor %} }
  {% endif %}  
}

{% endif %}
{% endfor %}

