{% for name, vnet in vnets.items() %}
{% if vnet['firewalls'] is defined %}
{% set outer_loop = loop %}

module "{{ name }}-firewall" {
    source                           = "{{ module_dir }}/firewall_new"
    providers                        = { aws = "aws.{{ vnet['vnet_network']['region'] }}"}     
    fw_version                       = "{{ vnet['firewalls']['fw_version'] }}"
    fw_license_type                  = "{{ vnet['firewalls']['fw_license_type'] }}"
    fw_key_name                      = "${var.fw_key_name}"
    fw_key                           = "${var.fw_key}"   
    name                             = [{% for fw in vnet['firewalls']['fw_instances'] %},"{{fw.name}}",{% endfor %}]
{#    subnet_ids                       = [{% for network in fw['networks'] %},"${module.{{ name }}-{{ fw.name }}-{{ network.subnet }}-eni.eni_id}",{% endfor %}]
    management_elastic_ip_addresses  = [{% for network in fw['networks'] %},"${module.{{ name }}-{{ fw.name }}-{{ network.subnet }}-eip.aws_eip}",{% endfor %}] #}
    management_enis                  = [{% for fw in vnet['firewalls']['fw_instances'] -%}
                                       {% for network in fw['networks'] -%}
                                       {% if network.type == 'management' -%}
                                       "${module.{{ name }}-{{ fw.name }}-{{ network.subnet }}-eni.eni_id}",
                                       {%- endif %}{%- endfor %}{%- endfor %}]
    untrust_enis                     = [{% for fw in vnet['firewalls']['fw_instances'] -%}
                                       {% for network in fw['networks'] -%}
                                       {% if network.type == 'untrust' -%}
                                       "${module.{{ name }}-{{ fw.name }}-{{ network.subnet }}-eni.eni_id}",
                                       {%- endif %}{%- endfor %}{%- endfor %}]                                       
    management_elastic_ip_addresses  = [{% for fw in vnet['firewalls']['fw_instances'] -%}
                                       {% for network in fw['networks'] -%}
                                       {% if network.type == 'management' -%}
                                       "${module.{{ name }}-{{ fw.name }}-{{ network.subnet }}-eip.aws_eip}",
                                       {%- endif %}{%- endfor %}{%- endfor %}]
    untrust_elastic_ip_addresses     = [{% for fw in vnet['firewalls']['fw_instances'] -%}
                                       {% for network in fw['networks'] -%}
                                       {% if network.type == 'untrust' -%}
                                       "${module.{{ name }}-{{ fw.name }}-{{ network.subnet }}-eip.aws_eip}",
                                       {%- endif %}{%- endfor %}{%- endfor %}]
    {% if vnet['firewalls']['topology']  == 'transit_vpc' %}
    customer_gw_asn                  = [{% for fw in vnet['firewalls']['fw_instances'] %},"{{ fw.fw_bgp_asn }}",{% endfor %}]
    {% endif %}
    {% if vnet['global_tags'] is defined %}
    tags                       = { {% for tag in vnet['global_tags'] %}{{ tag.name }} = "{{ tag.value }}"{% endfor %} }
    {% endif %}
} 


output "firewalls_created" {
  
  value = ["${module.{{ name }}-firewall.firewalls_created}"]
}


{% endif %}
{% endfor %}
