{# AWS VPC module template from https://github.com/terraform-aws-modules/terraform-aws-vpc #}
{% for name, vnet in vnets.items() %}
{% if vnet['spoke_vpcs'] is defined %}

{% for vpc in vnet['spoke_vpcs'] %}

module "{{ name }}-vpc-{{ vpc.name }}" {
    source                  = "terraform-aws-modules/vpc/aws"
    providers               = {
                                aws = "aws.{{ vpc['region'] }}"
    }
    name                    = "{{ name }}-vpc-{{ vpc.name }}"
    cidr                    = "{{ vpc['cidr'] }}"
    azs                     = [{% for az in vpc['azs'] %},"{{ az }}",{% endfor %}]
    private_subnets         = [{% for subnet in vpc['subnets'] %},"{{ subnet['cidr'] }}",{% endfor %}]
    map_public_ip_on_launch = false
    enable_vpn_gateway      = false
    amazon_side_asn         = "{{ vpc['asn'] }}"
}

{% endfor %}

{% endif %}
{% endfor %}