{% for name, vnet in vnets.items() %}
{% if vnet['testhost'] is defined %}
{% for vm in vnet['testhost'] %}
# Creating the Test Host VM


  module "{{ name }}-{{ vm.hostname }}" {
    source                      = "{{ module_dir }}/testhost"
    location                    = "{{ location }}"
    resource_group_name         = "{{ name }}"
    vnet_subnet_id_vm           = "${module.{{ name }}.vnet_subnets[0]}"
    hostname                    = "{{ vm.hostname }}"
    admin_password              = "{{ vm.password }}"
    dns_name                    = "{{ vm.dnsname }}"
  }

{% endfor %}


{% endif %}
{% endfor %}

