{% for name, vnet in vnets.items() %}
{% if vnet['route_tables'] is defined %}
{% for rt in vnet['route_tables'] %}
# Creating routes

module "{{ name }}-{{ rt['name'] }}" {
  source                = "{{ module_dir }}/router"
  location              = "{{ location }}"
  {% for rg in vnet['resource_group'] %}
  resource_group_name     = "${module.{{ rg.resource_group_name }}.name}"
  {% endfor %}
  route_table_name      = "{{ rt['name'] }}"
  routes = [
  {% for route in rt['routes'] %}
  {
    name                = "{{ route['name'] }}"
    cidr                = "{{ route['cidr'] }}"
    gateway             = "{{ route['gateway'] }}"
    {% if route['next_hop_type'] is defined %}
    next_hop_type       = "{{ route['next_hop_type'] }}"
    {% endif %}
  }
  {% endfor %}
  ]
}
{% endfor %}
{% endif %}
{% endfor %}
