{% for name, vnet in vnets.items() %}
{% if vnet['app_gateway'] is defined %}
{% for appgw in vnet['app_gateway'] %}
# Creating Application Gateway

module "{{ appgw.name }}" {
  source                                 = "{{ module_dir }}/app_gateway"
  app_gw_name                            = "{{ appgw.name }}"
  location                               = "{{ location }}"
  resource_group_name                    = "{{ name }}"
  gw_ip_config_subnet_id                 = "${module.{{ name }}.vnet_subnets[3]}"
  backend_address_pool_name              = "{{ appgw.Backend_Name }}"



}
{% endfor %}
{% endif %}
{% endfor %}
