{% for name, vnet in vnets.items() %}
{% if vnet['vnet_network'] is defined %}
# Creating VNets

module "{{ name }}" {
source                  = "{{ module_dir }}/vnet"
{% if vnet['vnet_network']['resource_group_name'] is defined %}
resource_group_name     = "{{ vnet['vnet_network']['resource_group_name'] }}"
{% else %}
{% for rg in vnet['resource_group'] %}
resource_group_name     = "${module.{{ rg.resource_group_name }}.name}"
{% endfor %}
{% endif %}
location                = "{{ location }}"
vnet_name               = "{{ vnet['vnet_network']['name'] }}"
address_space           = "{{ vnet['vnet_network']['network'] }}"
subnet_prefixes         = [{% for prefix in vnet['vnet_network']['subnet'] -%}"{{ prefix.network }}",{% endfor %}]
subnet_names            = [{% for name in vnet['vnet_network']['subnet'] -%}"{{ name.name }}",{% endfor %}]

{% if vnet['tags'] is defined %}
tags = {
{% for tag in vnet['tags'] %}
{{ tag.name }} = "{{ tag.value }}"
{% endfor %}
}
{% endif %}
}
{% endif %}
{% endfor %}
