{% for name, vnet in vnets.items() %}
{% if vnet['resource_group'] is defined %}
{% for rg in vnet['resource_group'] %}
#Creating Resource Groups

module "{{ rg.resource_group_name }}" {
source                  = "{{ module_dir }}/resource_group"
resource_group_name     = "{{ rg['resource_group_name'] }}"
location                = "{{ location }}"


{% if rg['tags'] is defined %}
tags = {
{% for tag in rg['tags'] %}
{{ tag.name }} = "{{ tag.value }}"
{% endfor %}
}
{% endif %}
}
{% endfor %}
{% endif %}
{% endfor %}