{% for name, vnet in vnets.items() %}
{% if vnet['testhost'] is defined %}
{% for vm in vnet['testhost'] %}
# Creating the Test Host VM


  module "{{ name }}-{{ vm.hostname }}" {
    source                      = "{{ module_dir }}/testhost"
    location                    = "{{ location }}"
    {% for rg in vnet['resource_group'] %}
    resource_group_name     = "${module.{{ rg.resource_group_name }}.name}"
    {% endfor %}
    {% if vnet['deployment'] is defined %}
    vnet_subnet_id_mgmt         = "${data.azurerm_subnet.{{ vnet.deployment.vnet_subnet.subnet[0].name }}.id}"
    {% else %}
    vnet_subnet_id_vm           = "${module.{{ name }}.vnet_subnets[0]}"
    {% endif %}
    hostname                    = "{{ vm.hostname }}"
    admin_password              = "{{ vm.password }}"
    admin_username              = "{{ vm.username }}"
    dns_name                    = "{{ vm.dnsname }}"
  }

{% endfor %}


{% endif %}
{% endfor %}

