{% for name, vnet in vnets.items() %}
{% if vnet['load_balancers'] is defined %}
{% for lb in vnet['load_balancers'] %}
# Creating Load Balancer

module "{{ lb.name }}" {
  source                                 = "{{ module_dir }}/loadbalancer"
  name                                   = "{{ lb.name }}"
  location                               = "{{ location }}"
  {% if lb['resource_group_name'] is defined %}
  resource_group_name                    = "{{ lb['resource_group_name'] }}"
  {% else %}
  {% for rg in vnet['resource_group'] %}
  resource_group_name                    = "${module.{{ rg.resource_group_name }}.name}"
  {% endfor %}
  {% endif %}
  type                                   = "{{ lb.type }}"
  {% if lb['floating_ip'] is defined %}
  floating_ip                 = "{{ lb['floating_ip'] }}"
  {% endif %}
  {% if lb.type == 'private' %}
  frontend_name                          = "{{ lb.fename }}"
  {% if vnet['deployment'] is defined %}
  frontend_subnet_id                     = "${data.azurerm_subnet.{{ vnet.deployment.vnet_subnet.subnet[1].name }}.id}"
  {% else %}
  frontend_subnet_id                     = "${module.{{ name }}.vnet_subnets[1]}"
  {% endif %}
  {% if lb['frontend_private_ip_address_allocation'] is defined %}
  frontend_private_ip_address_allocation = "{{ lb.frontend_private_ip_address_allocation }}"
  {% if lb.frontend_private_ip_address_allocation == 'Static' %}
  {% if lb['frontend_private_ip_address'] is defined %}
  frontend_private_ip_address            = "{{ lb['frontend_private_ip_address'] }}"
  {% else %}
  {% if vnet['deployment'] is defined %}
  frontend_private_ip_address            = "${data.azurerm_subnet.{{ vnet.deployment.vnet_subnet.subnet[1].name }}.address_prefix}"
  {% else %}
  frontend_private_ip_address            = "${cidrhost(module.{{ name }}.vnet_subnet_prefixes[1], -3)}"
  {% endif %}
  {% endif %}
  {% endif %}
  {% endif %}
  backendpoolname                        = "{{ lb.bename }}"
  lb_probename                           = "{{ lb.lbprobename }}"
 


 "remote_port" {
    ssh = ["Tcp", "22"]
  }

  "lb_port" {
    {{ lb.lbrulename }}  = ["{{ lb.lbrulefrontport }}", "{{ lb.lbruleprotocol }}", "{{ lb.lbrulebackport }}"]
  }

  "lb_probe_port" {
      {{ lb.lbprobename }} = ["{{ lb.lbruleprobeport }}"]
}
{% endif %}
{% if lb.type == 'public' %}
  frontend_name       = "{{ lb.fename }}"
  backendpoolname     = "{{ lb.bename }}"
  lb_probename        = "{{ lb.lbprobename }}"

 "remote_port" {
    ssh = ["Tcp", "22"]
  }

  "lb_port" {
    {{ lb.lbrulename }}  = ["{{ lb.lbrulefrontport }}", "{{ lb.lbruleprotocol }}", "{{ lb.lbrulebackport }}"]
  }

  "lb_probe_port" {
      {{ lb.lbprobename }} = ["{{ lb.lbruleprobeport }}"]
}

{% endif %}
}
{% endfor %}
{% endif %}
{% endfor %}
