# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

#Cred files
aws_creds.tf

#pem files 
*.pem 
*\*.pem

# Crash log files
crash.log

# Ignore any .tfvars files that are generated automatically for each Terraform run. Most
# .tfvars files are managed as part of configuration and so should be included in
# version control.
#
# example.tfvars