---
vnet_network:   
  name: FW
  network: 10.22.0.0/16  
  region: us-east-1
  route_tables:
    - name: Public
      routes: 
        - prefix: 0.0.0.0/0
          next_hop_type: IGW           
  subnet:
  - name: Management
    cidrs:
      # Each will be created in unique AZ
      - 10.22.0.0/24
      - 10.22.1.0/24
    route_table: Public 
  - name: Untrust
    cidrs: 
      # Each will be created in unique AZ          
      - 10.22.10.0/24
      - 10.22.11.0/24
    route_table: Public

firewalls:
  # transit_vpc or transit_gw
  topology: transit_vpc
  mgmt_sleep: "600"
  fw_version: "8.1.0"
  #Options: 6.1.18, 7.0.17, 7.1.11, 7.1.14, 7.1.17, 7.1.18, 7.1.20, 8.0.3, 8.0.6, 8.0.8, 8.0.9, 8.0.13, 8.1.0
  fw_license_type: byol
  #Options: byol | payg1 | payg2
  fw_instances:
    - name: fca-fw01
      fw_bgp_asn: 65001
      networks:
        - subnet: Management
          source_dest_check: true
          eip: yes
          security_group: 
            - fw_management
        - subnet: Untrust
          source_dest_check: false
          security_group: 
            - fw_untrust
          eip: yes   
    - name: fca-fw02
      fw_bgp_asn: 65001
      networks:
        - subnet: Management
          source_dest_check: true
          security_group: 
            - fw_management
          eip: yes
        - subnet: Untrust
          source_dest_check: false
          security_group: 
            - fw_untrust
          eip: yes              

#Define Security Groups
security_groups:
  - name: fw_management 
    rules:
      - name: management rule1
        direction: ingress
        src_ip: 108.221.182.192/32
        src_port: 443
        dst_port: 443
        dst_network: 0.0.0.0/0
        protocol: tcp        
      - name: management rule2
        direction: ingress     
        src_ip: 108.221.182.192/32 
        src_port: 22
        dst_port: 22
        dst_network: 0.0.0.0/0
        protocol: tcp     
  - name: fw_untrust
    rules:
      - name: untrust rule1
        direction: ingress      
        src_ip: 108.221.182.192/32
        src_port: 443
        dst_port: 443
        dst_network: 0.0.0.0
        protocol: tcp           



transit_gw:
  route_tables:
    - spoke_inbound
    - fw_inbound
  

global_tags:
  - name: environment
    value: dev
  - name: costcenter
    value: it