---
vnet_network:   
  name: FW
  network: 10.22.0.0/16  
  region: us-east-1
  route_tables:
    - name: Public
      routes: 
        - prefix: 0.0.0.0/0
          next_hop_type: IGW           
  subnet:
  - name: Management
    cidrs:
      # Each will be created in unique AZ
      - 10.22.0.0/24
      - 10.22.1.0/24
    route_table: Public 
  - name: Untrust
    cidrs: 
      # Each will be created in unique AZ          
      - 10.22.10.0/24
      - 10.22.11.0/24
    route_table: Public

firewalls:
  # transit_vpc or transit_gw
  topology: transit_vpc
  mgmt_sleep: "600"
  fw_version: "8.1.0"
  #Options: 6.1.18, 7.0.17, 7.1.11, 7.1.14, 7.1.17, 7.1.18, 7.1.20, 8.0.3, 8.0.6, 8.0.8, 8.0.9, 8.0.13, 8.1.0
  fw_license_type: byol
  #Options: byol | payg1 | payg2
  fw_instances:
    - name: fca-fw01
      networks:
        - subnet: Management
          source_dest_check: true
          eip: yes
        - subnet: Untrust
          source_dest_check: false
          eip: yes    

transit_gw:
  route_tables:
    - spoke_inbound
    - fw_inbound
  

global_tags:
  - name: "environment"
    value: "dev"
  - name: "costcenter"
    value: "it"