{% for rg in resource_groups %}
module "{{ rg.name}}" {
source = "./modules/vnet"
resource_group_name = "{{ rg.name }}"
location = "${ var.location }"
vnet_name = "{{ rg.vnet_name }}"
address_space = "{{ rg.address_space }}"
subnet_prefixes = [{% for prefix in rg.subnet_prefixes -%}"{{ prefix.ip }}",{% endfor %}]
subnet_names = [{% for name in rg.subnet_prefixes %}"{{ name.name }}",{% endfor %}]
{% if rg.tags is defined %}
tags = {
{% for tag in rg.tags %}
{{ tag.name }} = "{{ tag.value }}"
{% endfor %}
}
{% endif %}
}
{% endfor %}

{% for rg in resource_groups if rg.type == 'transit'%}

module "loadbalancer" {
  source                                 = "./modules/loadbalancer"
  name                                   = "Private-LB"
  location                               = "${var.location}"
  resource_group_name                    = "{{ rg.name }}"
  type                                   = "private"
  frontend_name                          = "Trust"
  frontend_subnet_id                     = "${module.{{ rg.name }}.vnet_subnets[1]}"
  frontend_private_ip_address_allocation = "Static"
  frontend_private_ip_address            = "${var.frontend_private_ip_address}"
  backendpoolname                        = "Trust"

  "remote_port" {
    ssh = ["Tcp", "22"]
  }

  "lb_port" {
    http  = ["0", "All", "0"]
    #https = ["443", "Tcp", "443"]
  }

  "lb_probe_port" {
      http = ["22"]
  }

  "tags" {
    cost-center = "12345"
    source      = "terraform"
  }
}

module "Public-Loadbalancer" {
  source              = "./modules/loadbalancer"
  name                = "Public-LB"
  resource_group_name = "{{ rg.name }}"
  type                = "public"
  location            = "${var.location}"
  frontend_name       = "Untrust"
  backendpoolname     = "Untrust"

  "remote_port" {
    ssh = ["Tcp", "22"]
  }

  "lb_port" {
    http = ["80", "Tcp", "80"]
  }

  "lb_probe_port" {
      http = ["22"]
  }
}

# Creating the Palo Alto Firewalls

  module "firewall" {
    source                      = "./modules/firewall"
    location                    = "${var.location}"
    resource_group_name         = "{{ rg.name }}"
    vnet_subnet_id_trust        = "${module.{{ rg.name }}.vnet_subnets[1]}"
    vnet_subnet_id_untrust      = "${module.{{ rg.name }}.vnet_subnets[2]}"
    vnet_subnet_id_mgmt         = "${module.{{ rg.name }}.vnet_subnets[0]}"
    lb_backend_pool_trust       = "${module.loadbalancer.azurerm_lb_backend_address_pool_id}"
    lb_backend_pool_untrust     = "${module.Public-Loadbalancer.azurerm_lb_backend_address_pool_id}"
    
  }
{% endfor %}
